:root {
    --main-black: #363940;
    --light-gray: #929292;
    --main-gray: #9C97B0;
    --dark-gray: #A5A1B6;
    --main-color: #ABD43E;
    --light-main-color: rgba(171, 212, 62, 0.15);
    --main-hover: #2B2B3B;
    --contraindications-background: #2B2B3B;
}